#hospital {
	text-align: center;
}

#mainContent {
	text-align: center;
}

#info section div{
	border: 2px solid white;
	border-radius:1px;
	background: #2c945c;
	color: #333333;
	font-weight: bold;
}

#info section div p: hover {
	color: #333333;
	text-shadow: 0 0 0px #333333;
}

#info section div p a{
	color: #333333;
}
#info section div p a:hover{
	color: blue;
}

#departmentcollapse {
	text-align: left;
}

#fitnesscollapse {
	text-align: left;
}

.imageblock {
	text-align: center;
}

#navbar ul li {
	display: inline;
}

header {
	text-align: center;
}

footer div {
	margin: 0px;
	text-align: center;
}


footer div a {
	font-size: 0.8em;
}

input {
	margin-bottom: 30px;
}

#mapContainer { 
	position:relative; 
	text-align:center;
}

#map_canvas { 
	margin:0px auto; 
	display:inline-block;
}

.underline {
	text-decoration: underline;
}

